.bg_main_black {
  background-color: #101010;
}

* {
  font-family: "Nunito", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px !important;
}

/* logian page and create new account */

.login-input::placeholder {
  color: rgb(200, 200, 200);
}
.login-input {
  background: #1e1e1e !important;
  outline: none !important;
}

.form-wrapper {
  width: 400px !important;
}

@media (max-width: 450px) {
  .form-wrapper {
    width: auto !important;
    padding: 40px 10px !important;
  }
}

/* side bar  */
.side_bar {
  min-height: 100vh;
}
.side_bar .logo a svg:hover {
  transform: scale(1.1) !important;
  transition: all 0.6s;
}

.side_bar .icones:hover {
  background-color: #1e1e1e !important;
  transition: all 0.5s;
}
.side_bar .icones a:hover {
  color: white !important;
}

.menu a:hover {
  color: white !important;
  transition: all 0.5s;
}

/* main content */

.sm_main_content {
  height: 92%;
  background-color: #181818;
}

@media (max-width: 768px) {
  .sm_main_content {
    border-radius: 0px !important;
    background-color: #101010;
    border: 0px !important;
  }

  .side_bar {
    min-height: 10%;
  }
}

/* home page */

.mk-post-opner {
  bottom: 60px;
  right: 80px;
  background-color: #1e1e1e;
  border: 1px solid rgb(73, 73, 73);
  width: 80px;
  height: 60px;
  cursor: pointer;
}
.mk-post_popup {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  width: 500px;
  height: 250px;
  background-color: #1e1e1e;
  border: 1px solid rgb(73, 73, 73);
  transition: all 1s;
  transform: translateX(150%);
}

.sc_mk-post_popup {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  width: 500px;
  height: 250px;
  background-color: #1e1e1e;
  border: 1px solid rgb(73, 73, 73);
  transition: all 1s;
  z-index: 99;
  opacity: 0;
}
/* 

skip post modal 2


.mk-post_popup_2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transform-style: preserve-3d;
  perspective: 1200px;
  will-change: transform, opacity;
  width: 500px;
  height: 250px;
  background-color: #1e1e1e;
  border: 1px solid rgb(73, 73, 73);
}

.show_mk_post_2 {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  pointer-events: auto;
}

.hide_mk_post_2 {
  transform: matrix3d(
    0.3,
    0.3,
    0.2,
    0.001,
    -0.3,
    0.3,
    0.1,
    0.002,
    0.2,
    -0.2,
    1,
    0.002,
    500,
    -500,
    0,
    1
  );
  opacity: 0;
  pointer-events: none;
} */

/* .mk-post-opner:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.mk-post-opner:hover .mk-post_popup {
  transform: scale(1) !important;
}
.mk-post_popup:hover {
  transform: scale(0.91) !important;
} */
